/* Write your code here. */

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #0f172a;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cffafe;
  border: 1px solid chocolate;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (min-width: 769px) {
  .bg-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
    background-size: cover;
    height: 100vh;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heading {
    color: #0f172a;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cffafe;
    border: 1px solid chocolate;
    border-radius: 10px;
    padding: 10px;
  }
}
